@import "../Base.view.less";

.Entity {
    width: 1em;
    height: 1em;
    margin-top: 1em / -2;
    margin-left: 1em / -2;

    position: absolute;

    // background-color: @yellow;

    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    border-radius: 3px;

    i {
        // width: 2em;
        // height: 2em;
        // left: 1em / -1.5;
        // top: 1em / -1.5;
        // position: relative;
        // line-height: 2em;
        // text-align: center;
        font-size: 0.5em;
        display: block;
        transform: rotate(90deg);
    }
}

@keyframes isDead {
    0% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg * 2) scale(2);
    }
}
