@import "../Base.view.less";

@red: #A52F22;

.Overlay {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    z-index: 999999;
    position: absolute;

    padding: @small-gutter;

    .HealthBar {
        i {
            float: left;
            font-size: 0.5em;
        }
        .Hearts {
            display: flex;
            flex-direction: row;
            .Heart {
                width: 0.1em;
                height: 0.5em;
                margin-left: 0.1em;
                border-radius: @roundness;
                border-color: @white;
                border-style: solid;
                border-width: 1px;

                &[isFull] {
                    background-color: @white;
                }
            }
        }
    }

    .Bloodflash {
        top: 0em;
        left: 0em;
        right: 0em;
        bottom: 0em;
        position: absolute;
        background-color: @red;
        opacity: 0;
    }
}
