.Frame {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    margin: auto;
    position: fixed;
    overflow: hidden;

    color: #FFF;
    background-color: #222;

    .aspect-ratio(16, 9);
}

.aspect-ratio(@width, @height) {
    @media(min-aspect-ratio: @width ~"/" @height) {
        font-size: ((@width / @height)* 100vh) / @width;
        width: (@width / @height) * 100vh;
        height: 100vh;
    }

    @media(max-aspect-ratio:@width ~"/" @height) {
        font-size: ((@height / @width) * 100.5vw) / @height;
        height: (@height / @width) * 100vw;
        width: 100vw;
    }
}
