* {
    cursor: default;
    box-sizing: border-box;

    margin: 0em;
    padding: 0em;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@font-face {
    font-family: vinizinho;
    src: url("../fonts/vinizinho.ttf") format("truetype");
}

:root {
    background-color: #111;

    font-family: vinizinho;
    font-size: 16px;
}
